# SMTP Server Credentials
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=you@example.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=you@example.com
SMTP_SECURITY=ssl

# Local Server Settings
APP_HOST=127.0.0.1
APP_PORT=8000
